/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2016, 4:09:17 PM
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/
/*FORMS*/
.required {
  color: red; }

.primary-color {
  color: #a06c6e; }

.small-pad-top {
  padding-top: 8px; }

.center-text {
  text-align: center; }

.grey-bg {
  background: #f5f5f6; }

.zero-border {
  border: none;
  width: 100%; }

.zero-padding {
  padding: 0; }

#payments_tbl tr td {
  text-align: right; }

.nav > li > a {
  padding: 10px 11px; }

.right-text {
  text-align: right; }

body {
  color: #606060; }

.table-bordered > thead > tr > th {
  color: #868686; }

/*LOGIN*/
.sys-name {
  color: #691717;
  font-weight: 400;
  font-family: "PT Serif", serif; }

.banner-sys-name {
  text-align: left; }

.banner-sys-name-mobile {
  text-align: center;
  display: none; }

.login-page {
  background: #691717; }
  .login-page .login-header {
    background: #dfd6bb; }
    .login-page .login-header.login-caret:after {
      border-color: #dfd6bb transparent transparent transparent; }
  .login-page .login-form {
    background: transparent; }
    .login-page .login-form .form-group .input-group {
      background: #7a322e;
      /*border: 2px solid rgba(223, 214, 187, 0.5);*/
      border: 2px solid transparent; }
      .login-page .login-form .form-group .input-group.focused {
        border-color: rgba(223, 214, 187, 0.5); }
  .login-page #login-html {
    background: #691717; }
  .login-page .login-form .form-group .btn-login {
    color: #ffffff;
    background-color: #691717;
    border: 2px solid rgba(223, 214, 187, 0.5); }
    .login-page .login-form .form-group .btn-login:hover {
      background: #7a322e; }
    .login-page .login-form .form-group .btn-login:active {
      background: #7a322e; }

/*DASHBOARD*/
.page-container .sidebar-menu {
  background-color: #691717;
  /*        background-image: url(../images/goldwatermark.png);
          background-repeat: no-repeat;
          background-position-y: 90%;
          background-position-y: 70vh;
          background-position-x: 33px;*/ }
  .page-container .sidebar-menu #main-menu li {
    border-bottom: 1px solid rgba(142, 89, 52, 0.7); }
    .page-container .sidebar-menu #main-menu li a {
      color: #fbeac2; }
      .page-container .sidebar-menu #main-menu li a:hover {
        color: #fbeac2; }
    .page-container .sidebar-menu #main-menu li.active > a {
      color: #fbeac2;
      background-color: #511212; }
    .page-container .sidebar-menu #main-menu li ul > li > a {
      background-color: #691717; }
      .page-container .sidebar-menu #main-menu li ul > li > a:hover {
        background-color: #5E2629; }
    .page-container .sidebar-menu #main-menu li.has-sub > a:before {
      color: #fbeac2; }
  .page-container .sidebar-menu .logo-env > div.sidebar-collapse a {
    border: 1px solid rgba(142, 89, 52, 0.7); }
  .page-container .sidebar-menu .logo-env > div.sidebar-collapse a i {
    color: #fbeac2; }
  .page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu a {
    border: 1px solid rgba(142, 89, 52, 0.7); }
  .page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu a i {
    color: #fbeac2; }
.page-container.sidebar-collapsed .sidebar-menu #main-menu > li > a > span:not(.badge) {
  background: #691717;
  border-top: 1px solid rgba(142, 89, 52, 0.7);
  border-bottom: 1px solid rgba(142, 89, 52, 0.7); }
.page-container.sidebar-collapsed .sidebar-menu #main-menu > li > ul li {
  border-bottom: 1px solid rgba(142, 89, 52, 0.7); }
.page-container.sidebar-collapsed .sidebar-menu .watermark-container {
  display: none; }
.page-container .main-content {
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
  background-size: 100% 107px; }

.logo-container {
  width: 60%;
  text-align: right; }

.watermark-container {
  text-align: center;
  padding-top: 0vh;
  margin-left: -5px; }

#default img {
  width: 216.156px;
  height: 118px; }

.generate-password:hover {
  cursor: pointer;
  color: #898989;
  background-color: #ebebeb; }

.debug {
  border: 1px solid pink; }

.print-body-loa {
  font-family: 'Cambria'; }

.breakdown {
  border: 1px solid #efefef;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: none; }

.underline {
  text-decoration: underline; }

.reg-card {
  font-family: 'Times New Roman'; }
  .reg-card .student-info {
    margin-left: 0.47in; }
  .reg-card .card-1 {
    margin-top: 1.2in; }
  .reg-card .card-2 {
    margin-top: 1.55in; }
  .reg-card .card-3 {
    margin-top: 1.06in; }
  .reg-card .student-info td {
    padding: 0.5px;
    padding-right: 15px; }
  .reg-card .spacer {
    width: 65px; }
  .reg-card .tr-centered th {
    text-align: center; }
  .reg-card .td-compact {
    font-family: 'Arial';
    font-weight: bold;
    letter-spacing: -0.4px;
    font-size: 10px; }
  .reg-card .card-table {
    margin-left: 0.45in;
    font-family: 'Arial';
    height: 2.1in; }
    .reg-card .card-table td, .reg-card .card-table th {
      padding: 1px;
      border: 0.5px solid black;
      font-size: 10px; }
    .reg-card .card-table th {
      font-weight: bold; }
    .reg-card .card-table tbody td:nth-child(2) {
      text-align: center; }
  .reg-card .card-table-1 {
    width: 3.75in; }
  .reg-card .card-table-2 {
    width: 4.85in; }
  .reg-card .card-table-3 {
    width: 3.15in; }
  .reg-card .payment-schedule {
    height: 2.1in;
    width: 1.9in;
    position: absolute;
    right: 0;
    border: 1px solid black;
    margin-right: 0.7in;
    padding: 1px; }
    .reg-card .payment-schedule td {
      font-size: 9px; }
    .reg-card .payment-schedule td:first-child {
      padding-left: 10px; }
    .reg-card .payment-schedule td:last-child {
      padding-right: 10px; }
  .reg-card .payment-schedule-1 {
    top: 0;
    margin-top: 1.72in; }
  .reg-card .payment-schedule-2 {
    top: 0;
    margin-top: 5.92in; }
  .reg-card .payment-schedule-3 {
    top: 0;
    margin-top: 9.58in; }
  .reg-card .td-num {
    font-family: 'Consolas';
    text-align: center; }
  .reg-card .fee-breakdown {
    height: 1.6in;
    width: 1.1in;
    position: absolute;
    right: 0;
    margin-right: 2.63in;
    margin-top: 0.60in; }
    .reg-card .fee-breakdown td {
      font-size: 7.5px; }
    .reg-card .fee-breakdown tr td:nth-child(2) {
      text-align: right;
      font-family: 'Consolas'; }
  .reg-card .bottom-breakdown {
    margin-top: 8.62in;
    margin-right: 2.63in;
    width: 1.7in;
    height: 1.8in; }
    .reg-card .bottom-breakdown td {
      font-size: 11px; }
  .reg-card .reg-no {
    position: absolute;
    right: 0;
    margin-right: 0.68in; }
  .reg-card .reg-no-2 {
    top: 5in; }
  .reg-card .reg-no-3 {
    top: 9in; }
  .reg-card .grad-fee span {
    font-size: 8.9px; }

.well-info {
  font-family: "Helvetica";
  font-size: 15px;
  background: rgba(91, 192, 222, 0.3);
  border-color: rgba(91, 192, 222, 0.3);
  border-radius: 16px; }
  .well-info:hover {
    background: rgba(41, 168, 205, 0.3); }

.well-info-transcript {
  font-family: "Helvetica";
  font-size: 15px;
  background: rgba(91, 192, 222, 0.3);
  border-color: rgba(91, 192, 222, 0.3);
  border-radius: 20px; }
  .well-info-transcript:hover {
    background: rgba(41, 168, 205, 0.3); }

.well-transcript {
  /*width: 75%;*/
  background: rgba(111, 111, 111, 0.03);
  font-family: 'Consolas';
  font-size: 14px; }
  .well-transcript:hover {
    background: rgba(0, 0, 0, 0.03); }

#grade-body {
  font-family: 'Consolas';
  font-size: 13px;
  background: url("../images/logo-grayscale.png");
  background-size: 450px 500px;
  background-repeat: repeat-y;
  background-position: center;
  -webkit-print-color-adjust: exact; }
  #grade-body #grade-tbl {
    margin-left: 150px;
    /*margin-top: 60px;*/ }
  #grade-body .grades {
    margin-left: 75px; }
    #grade-body .grades tbody td, #grade-body .grades thead th {
      padding-left: 6px;
      padding-right: 6px;
      margin-bottom: 5px; }
  #grade-body .trimester {
    margin-left: 55px; }
  #grade-body .transcript-logo {
    position: absolute;
    /*margin-top: 2px;*/
    margin-left: 58px;
    height: 90px; }

#sog-body #sog-footer-1 {
  margin-top: 1065px; }
#sog-body .sog-footer {
  position: absolute;
  left: 0;
  margin-left: 20px; }
  #sog-body .sog-footer p {
    font-size: 8px; }
  #sog-body .sog-footer .school-name {
    font-size: 9px;
    font-weight: bold; }
  #sog-body .sog-footer hr {
    border: 1.5px solid #691717;
    width: 650px;
    /*width: 86%;*/
    margin-bottom: 10px; }
  #sog-body .sog-footer .spacer {
    height: 4px; }

@media (max-width: 767px) {
  .watermark-container {
    display: none; }

  .banner-sys-name-mobile {
    display: block; }

  .banner-sys-name {
    display: none; }

  #welcome-user {
    margin-left: -60%;
    text-align: center; } }
@media print {
  html, body, hr, .page-container, .main-content {
    margin: 0px !important;
    padding: 0px !important;
    color: black; } }

/*# sourceMappingURL=custom.css.map */
