/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2016, 4:09:17 PM
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/

////////// VARIABLES /////////////
$logo-font: 'PT Serif', serif;
$primary-color: #691717;
$accent-color: #dfd6bb;
$progress-bar: #b48f37;
$header-font: #a06c6e;
$sidebar-font: #fbeac2;
$sidebar-active: #511212;
$sidebar-border: 1px solid rgba(142, 89, 52, 0.7);
$custom-well: rgba(91, 192, 222, 0.3);

/*FORMS*/
.required{
    color: red;
}
.primary-color{
    color: $header-font;
}
.small-pad-top{
    padding-top:8px;
}
.center-text{
    text-align: center;
}
.grey-bg{
    background: #f5f5f6;
}
.zero-border{
    border:none;
    width: 100%;
}
.zero-padding{
    padding:0;
}
#payments_tbl tr td{
    text-align:right;
}
.nav > li > a {
    padding: 10px 11px;
}
.right-text{
    text-align:right;
}
body{
    color: lighten(black, 37.5%);
}
.table-bordered > thead > tr > th{
    color: lighten(black, 52.5%);
}

/*LOGIN*/
.sys-name{
    color:$primary-color;
    font-weight:400;
    font-family: $logo-font;
}
.banner-sys-name{
    text-align: left;
}
.banner-sys-name-mobile{
    text-align: center;
    display:none;
}
#sys-name{
}

.login-page{
    background: $primary-color;
    .login-header{
        background:$accent-color;
        &.login-caret:after {
            border-color: $accent-color transparent transparent transparent;
        }
    }
    .login-form{
        background: transparent;
        & .form-group .input-group {
            background: #7a322e;
            /*border: 2px solid rgba(223, 214, 187, 0.5);*/
            border: 2px solid transparent;
            &.focused{
                border-color: rgba(223, 214, 187, 0.5);
            }
        }
    }
    #login-html{
        background: $primary-color
    }
    .login-form .form-group .btn-login {
        color: #ffffff;
        background-color: $primary-color;
        border: 2px solid rgba(223, 214, 187, 0.5);
        &:hover{
            background: #7a322e;
        }
        &:active{
            background: #7a322e;
        }
    }
    &.logging-in .login-progressbar{
        //background: $progress-bar;
        // height: 2px;
    }
}

/*DASHBOARD*/
.page-container{
    .sidebar-menu {
        background-color: $primary-color;
        /*        background-image: url(../images/goldwatermark.png);
                background-repeat: no-repeat;
                background-position-y: 90%;
                background-position-y: 70vh;
                background-position-x: 33px;*/

        #main-menu li {
            border-bottom: $sidebar-border;
            a{
                color: $sidebar-font;
                &:hover{
                    color: $sidebar-font;
                }
            }
            &.active > a{
                color: $sidebar-font;
                background-color: $sidebar-active;
            }
            & ul > li > a{
                background-color: $primary-color;
                &:hover{
                    background-color: #5E2629;
                }
            }
            &.has-sub > a:before {
                color: $sidebar-font;
            }
        }
        .logo-env {
            &> div.sidebar-collapse {
                a{
                    border: $sidebar-border;
                }
                a i {
                    color: $sidebar-font;
                }
            }
            &> div.sidebar-mobile-menu{
                a{
                    border: $sidebar-border;
                }
                a i {
                    color: $sidebar-font;
                }
            }
        }
    }
    &.sidebar-collapsed{
        .sidebar-menu{
            #main-menu > li{

                &> a > span:not(.badge){
                    background: $primary-color;
                    border-top: $sidebar-border;
                    border-bottom: $sidebar-border;
                }
                &> ul li{
                    border-bottom: $sidebar-border;
                }
            } 
            .watermark-container{
                display:none;
            }
        } 

    }
    .main-content{
        background: url(../images/banner.png);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0px;
        background-size: 100% 107px;
    }
}

.logo-container{
    width: 60%;
    text-align: right;
}


.watermark-container{
    text-align: center;
    padding-top: 0vh;
    margin-left: -5px;
}

#default img{
    width: 216.156px;
    height: 118px;
}

.generate-password{
    &:hover{
        cursor: pointer;
        color: darken(#919191, 3%) ;
        background-color: darken(#f3f3f3, 3%);
    }
}

.debug{
    border: 1px solid pink;
}

.print-body-loa{
    font-family: 'Cambria';
}

.breakdown{
    border: 1px solid #efefef;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 30px;
    display:none;
}
.underline{
    text-decoration: underline;
}

.reg-card{
    font-family: 'Times New Roman';
    .student-info{
        margin-left: 0.47in;
    }
    .card-1{
        margin-top: 1.2in;
    }
    .card-2{
        margin-top: 1.55in;
    }
    .card-3{
        margin-top: 1.06in;
    }
    .student-info td{
        padding: 0.5px;
        padding-right: 15px;
    }
    .spacer{
        width:65px;
    }
    .tr-centered th{
        text-align: center;
    }
    .td-compact{
        font-family: 'Arial';
        font-weight: bold;
        letter-spacing: -0.4px;
        font-size: 10px;
    }
    .card-table{
        margin-left: 0.45in;
        font-family: 'Arial';
        height: 2.1in;
        td, th{
            padding:1px;
            border: 0.5px solid black;
            font-size:10px;
        }
        th {
            font-weight:bold;
        }
        tbody td:nth-child(2){
            text-align:center;
        }
    }
    .card-table-1{
        width: 3.75in;
    }
    .card-table-2{
        width: 4.85in;
    }
    .card-table-3{
        width: 3.15in;
    }
    .payment-schedule{
        height: 2.1in;
        width: 1.9in;
        position: absolute;
        right: 0;
        border: 1px solid black;
        margin-right: 0.7in;
        padding: 1px;

        td{
            font-size: 9px;
        }
        td:first-child{
            padding-left: 10px;
        }
        td:last-child{
            padding-right: 10px;
        }
    }
    .payment-schedule-1{
        top:0;
        margin-top:1.72in;
    }
    .payment-schedule-2{
        top:0;
        margin-top:5.92in;
    }
    .payment-schedule-3{
        top:0;
        margin-top:9.58in;
    }
    .td-num{
        font-family: 'Consolas';
        text-align: center;
    }
    .fee-breakdown{
        height: 1.6in;
        width: 1.1in;
        position: absolute;
        right: 0;
        margin-right: 2.63in;
        margin-top: 0.60in;
        td{
            font-size: 7.5px;
        }
        tr td:nth-child(2){
            text-align: right;
            font-family: 'Consolas';
        }
    }
    .bottom-breakdown{
        margin-top: 8.62in;
        margin-right: 2.63in;
        width: 1.7in;
        height: 1.8in;
        td{
            font-size: 11px;

        }

    }
    .reg-no{
        position:absolute;
        right:0;
        margin-right:0.68in;
    }
    .reg-no-2{
        top:5in;   
    }
    .reg-no-3{
        top:9in;   
    }
    .grad-fee span{
        font-size: 8.9px;
    }
}
.well-info{
    font-family: "Helvetica";
    font-size: 15px;
    background: $custom-well;
    border-color: $custom-well;
    border-radius: 16px;
    &:hover{
        background: darken($custom-well, 13%);
    }
}
.well-info-transcript{
    font-family: "Helvetica";
    font-size: 15px;
    background: $custom-well;
    border-color: $custom-well;
    border-radius: 20px;
    &:hover{
        background: darken($custom-well, 13%);
    }
}


.well-transcript{
    /*width: 75%;*/
    background: rgba(111,111,111,0.03);
    font-family: 'Consolas';
    font-size: 14px;
    &:hover{
        background: darken(rgba(111,111,111,0.03), 44%);
    }
}

#grade-body{
    font-family: 'Consolas';
    font-size:13px;
    background: url('../images/logo-grayscale.png');
    background-size: 450px 500px;
    background-repeat: repeat-y;
    background-position:center;
    -webkit-print-color-adjust: exact;

    #grade-tbl{
        margin-left: 150px;
        /*margin-top: 60px;*/
    }
    .grades{
        margin-left:75px;
        tbody td, thead th{
            padding-left:6px;
            padding-right:6px;
            margin-bottom:5px;
        }
    }
    .trimester{
        margin-left:55px;
    }
    .transcript-logo{
        position:absolute;
        /*margin-top: 2px;*/
        margin-left: 58px;
        height: 90px;
    }
}
#sog-body{
    #sog-footer-1{
        margin-top:1065px
    }
    .sog-footer{
        position: absolute;
        left: 0;
        margin-left:20px;
        p{
            font-size: 8px;
        }
        .school-name{
            font-size: 9px;
            font-weight: bold;
        }
        hr{
            border: 1.5px solid $primary-color;
            width: 650px;
            /*width: 86%;*/
            margin-bottom: 10px;
        }
        .spacer{
            height: 4px
        }
    }
}

@media (max-width: 767px){
    .watermark-container{
        display: none;
    }
    .banner-sys-name-mobile{
        display: block;
    }
    .banner-sys-name{
        display:none;
    }
    #welcome-user{
        margin-left: -60%;
        text-align: center;
    }
}

@media print{
    html, body, hr, .page-container, .main-content{
        margin:0px !important;
        padding:0px !important;
        color: black;
    }

}